$black: #000;
$white: #fff;

%center-block {
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
}

.Home {
    min-height: calc(100vh - 60px);
    @extend %center-block;

    h1 {
        min-height: 120px;
    }

    .carousel {
        @extend %center-block;
        min-height: 20vh;
        border: 1px solid $white;
    
        h1 {
            @extend %center-block;
        }
    }
}



