$black: #000;
$white: #fff;

.navbar-wrapper {
    background-color: $black;
    border-bottom: 1px solid $white;

    nav{
        background-color: $black!important;

        a {
            color: $white!important;
        }

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(199, 199, 199, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
          }
    } 
}